$primary-color: #242424;


/*** HEADER ***/







/*** NAV ***/








/*** MOTION CONTENT ***/

.motion_content {
  background: red;
  min-height: 600px;
}



/*** CREATIVE LINE ***/

.creative_line {
  background: yellow;
  min-height: 300px;
}



/*** TALENT LINE ***/

.talent_line {
  background: green;
  min-height: 400px;
}



/*** ELEGANT LINE ***/


.elegant_line {
  background: teal;
  min-height: 500px;
}


/*** DROPDOWN FOOTER ***/

.dropdown_footer {
  background: tomato;
  min-height: 350px;
}
